body {
     margin:0;
     background: #000;
        }
body:after {
  --color-scanline: rgba(255,255,255,.075);
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
  background: repeating-linear-gradient(to bottom, var(--color-scanline), var(--color-scanline) 1px, transparent 1px, transparent 5px);
}		
@font-face {
     font-family: 'ArcadeR';
          /*
	 src: url('font/ARCADE_R.TTF');
	      */
     src: url('font/PressStart2P.ttf');
        }		
#canvas-warning {
     color: #FF0;
     font-size: 1.5em;
        }
#left-ads {
     width: 302px;
     text-align: left;
     position: absolute;
     z-index: 998;
     bottom: 5%;
     left: 0px;
     top: 20px;	
        }
#right-ads {
     min-width: 302px;
     text-align: right;
     position: absolute;
     z-index: 999;
     right: 0px;
     top: 20px;
     bottom: 5%;	
       }
.home {
position:fixed;
width:60px;
height:60px;
top:40px;
left:40px;
z-index:99;
}
@media only screen and (max-width: 600px) {
.home {
width:40px;
height:40px;
top:10px;
left:10px;
}
}	
	
