body {
     margin:0;
     background: #000;
        }
body:after {
  --color-scanline: rgba(255,255,255,.075);
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
  background: repeating-linear-gradient(to bottom, var(--color-scanline), var(--color-scanline) 1px, transparent 1px, transparent 5px);
}
.home {
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:40px;
    z-index:99;
        }	
		
@media only screen and (max-width: 600px) {
.home {
	width:40px;
	height:40px;
	top:10px;
	left:10px;
     }
}			
